# .streamlit/secrets.toml
# Configuración para envío de correos

[gmail]
email = "tu_email@gmail.com"
app_password = "tu_contraseña_de_aplicacion"

# Para obtener una contraseña de aplicación:
# 1. Ve a https://myaccount.google.com/security
# 2. Activa la verificación en 2 pasos
# 3. Ve a "Contraseñas de aplicaciones"
# 4. Genera una nueva para "Correo"
# 5. Reemplaza "tu_contraseña_de_aplicacion" con la contraseña generada

[google_sheets.credentials]
type = "service_account"
project_id = "reportes-congelados"
private_key_id = "2939237384477f879dfe32a7c3f37decf9cb7875"

# --- CLAVE PRIVADA CON FORMATO CORREGIDO ---
private_key = """-----BEGIN PRIVATE KEY-----
MIIEvQIBADANBgkqhkiG9w0BAQEFAASCBKcwggSjAgEAAoIBAQDCy94odQbIWmPW
8Ol/VTZaZng2oTBq/UGLtg1X31RM5gWqdFEpL117wmUgp2rFL+bpF4nkpNit0eTf
3ONRvABqjA6FeL4Qebzc9ZOzyvSu8hcRSmLEVYZDWLY2d6qQlzFONSYnyK+qRimr
Ml6TpjTsIvLYnWMVCt99vQk2Rp0H0WrbHT8BGjpzFzenqGN6SopH7jgNi5tvNO57
UoSf/Hy5YSYk3EAMMd1+zfef7rDHKqz6oz8jIneb6aR+I+4+ro1pY5F8tL+rCtdH
8NE9CKcxq6+huYi+2XHEvYJflBSbZEcfEzHKxI5VDfqo7rrHIUBD2wN+O57ENn2f
PHZC3rODAgMBAAECggEAVLa+TY/fPEB7DN3GXfbb5WKMww1EdjLfT3gDw4Q/MBYU
vrVJGoUbvZejzRihyVF0tUfkUwgRpz4Rr/1q6n+9GpkAM7F3zshyhxFRg64uzOpB
d+aGn2WmNyGcVIGkLq9h5OYeSszvADj1JBuKn+F3QH5OaD/B+EO7P/52xCDfZ6c7
+s7bLvHdquB5XZoxyusMpvihl9vUsuim24ZS7ej5E65wzyQ+KJ5m5uL06E6mNEYN
3yFUL/PQoU+aMoube0/gUJvR8Z5n1HDu+wbH5AZj8pOIqFgsyKy6+dSzUF5ADRI4
zY+ymKfp/GdS5P4PHbJUv4TNZwnKj5o5Y9dmcnR5aQKBgQDftD1tLuCandUU4azR
OzjWxaJJ4iopCNVxNlRhwM0xJOHYqtIaXRy33A/lmcIRNQ5FOz70+WdcYN4Ki3JH
PmD89s+cY9rqsLqj2VpFDIvcA5hRSPj3uDTwYvHm/H6sOGSvYhTWkOZZ1zEOVVk
XRac5KGwl4W7yXJgpVbAMB1wXwKBgQDe6z5LOcC4H4DiBTrbG8VP3GTXfDK5ytN8
nwcvprudRpcsOoR455ooq0km16RORiolieIiuEufsGv+PcS4n/df/lkMLV84wLaD
P2XmrV9lNwtj6q111c9YgzqFkkMlsp8JEQyK65u+pYSYfbpx21sx6345/sNPPyrA
ju5N9mq/XQKBgEiiPhuYT+cD/i6Ug8c/wlnBu8rfey7tplfm+wjuT/F39zihZiyX
NP7hneu/u8pYfrSt4ugpnozZCt9DnaxSLa2U+Z3esjLnhQI0TWIEC9k49ZjW57eQ
A1NuEVOTZ8Ms8WDy1zOxKCfD7tPrhbVboD764SD0YcCyTMfih0NJnBVjAoGBAIDO
877qDzcVVRbFKN4k7N2Zn1d4d6Mt1QiEp9VcBbr6aC3xXkyynzxyxSFBp7pnBsGM
K/QeA+yxN6XAMWTxYjLAuNm1eflEOfIa9xnVAnNs3BMPLs4RDu+5XF6ERnKJBSZr
CJFZVTRTVgv7Unmp48czqUt/r4GiIWUE8iRwh/wtAoGARmBdTmFJ1cIZMggJvPuv
kVNST/VaYztJkLe63OQqaanZG0AHktcgBt+opAvNomrzqOXPkupLQjDyvdfpOFUc
iIfAGDozzr3CG6NExjU4rvhCR8onjkEpbcG2junG68D4iv6oh465zyQNiUIeLFtg
951iaRciBmgi6cm7M8+qd8U=
-----END PRIVATE KEY-----"""
client_email = "reportes-congelados@reportes-congelados.iam.gserviceaccount.com"
client_id = "116712973771129431376"
auth_uri = "https://accounts.google.com/o/oauth2/auth"
token_uri = "https://oauth2.googleapis.com/token"
auth_provider_x509_cert_url = "https://www.googleapis.com/oauth2/v1/certs"
client_x509_cert_url = "https://www.googleapis.com/robot/v1/metadata/x509/reportes-congelados%40reportes-congelados.iam.gserviceaccount.com"
universe_domain = "googleapis.com"